.nav ul{
    display: flex;
    justify-content: space-around; /*để dùng được justify content phải dùng display : flex*/
    list-style: none;

}

.nav {
    background-color: brown;
}
.nav a{
    color: white;
    text-decoration: none;
}